<h1 mat-dialog-title>Formulario Documentos</h1>
<section mat-dialog-content>
	<section>
		<mat-form-field>
			<mat-label>Expediente</mat-label>
			<input
				type="text"
				matInput
				[formControl]="myControl"
				[matAutocomplete]="auto"
				(focus)="myControl.setValue(myControl.value)"
			/>
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
				<mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
					{{ option.codigo }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Tasa</mat-label>
			<input type="number" matInput [(ngModel)]="data.tasa" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Nombre</mat-label>
			<input matInput [(ngModel)]="data.nombre" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Tipo</mat-label>
			<input matInput [(ngModel)]="data.tipo" />
		</mat-form-field>

		<label class="bonito" for="file-upload">Subir Archivo</label>
		<input id="file-upload" type="file" (change)="onFileSelected($event)" [disabled]="data.tipo" />
		<p *ngIf="data?.tipo">
			¡Advertencia! No se contempla que se pueda editar el archivo, el boton Subir Archivo esta desabilitado en la
			edicion
		</p>
	</section>
</section>
<section mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancelar</button>
	<button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="validarFormulario()">Aceptar</button>
</section>
