.container {
	margin: 0 auto;
	padding: 20px;
	background-color: #13121269;
	border-radius: 5px;
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	color: #fff;
}

.inpdddut[type='file'] {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	background-color: #60787c;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}

.inpdddut[type='submit'] {
	padding: 10px 20px;
	background-color: #647a81;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.inpdddut[type='submit']:hover {
	background-color: #006f8f;
}
