<header>
	<nav class="navbar navbar-dark navbar-expand navbar-custom">
		<div class="container-fluid">
			<a class="navbar-brand" routerLink="/home">Home</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link active navbar-letra" aria-current="page" routerLink="/expediente">
							<span class="navbar-color">#</span>Tabla Expediente</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link active navbar-letra" aria-current="page" routerLink="/tipoExpediente"
							><span class="navbar-color">#</span>Tabla Tipo Expediente</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link active navbar-letra" aria-current="page" routerLink="/actuaciones"
							><span class="navbar-color">#</span>Tabla Actuaciones</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link active navbar-letra" aria-current="page" routerLink="/documentos"
							><span class="navbar-color">#</span>Tabla Documentos</a
						>
					</li>
				</ul>
			</div>
			<button class="btn btn-outline-light justify-content-end" (click)="logout()">Cerrar sesión</button>
		</div>
	</nav>
</header>
